.ProfileCard {
    border: 2px solid var(--inverted-bg-color);
    padding: 15px;
}

.header {
    display: flex;
}

.button {
    margin-left: auto;
}

.input {
    margin-top: 10px;
}

.data {
    margin-top: 10px;
}