.PageError {
    padding-top: 50px;
    text-align: center;
    font-size: var(--font-size-l);
}

.PageError button {
    margin-top: 30px;
    width: 130px;
    height: 45px;
    font-size: var(--font-size-m);
    background-color: var(--secondary-color);
    border-radius: 5px

}