.app_blue_theme {
    --bg-color: #3a7af9;
    --inverted-bg-color: #F4F6FB;
    --primary-color: #F4F9FB;
    --secondary-color: #aaacad;
    --inverted-primary-color: #3cc8d5;
    --inverted-secondary-color:#10b77d;

    /* skeleton */
    --skeleton-color: #5c8ef4;
    --skeleton-shadow: #1e66f7;

    /* Code */
    --code-bg:  #3169db;
}