.app.dark {
    --bg-color: rgb(10 10 104);
    --inverted-bg-color: #c4c1c1;
    --primary-color: rgb(12 96 37);
    --secondary-color: rgb(61 152 88);
    --inverted-primary-color: rgb(83 14 246);
    --inverted-secondary-color:rgb(112 89 164);
}